#Ignore passwords file
passwords.txt

#Ignore logs directory
logs/

#Ignore the git and cache folders
.cache

#Ingore all markdown and class files
*.md
**/*.class

#Ignore node modules
**/node_modules
